.app-container {
    display: flex; /* Use flexbox layout */
    height: 100%;
    background-color: #FFFFFF;
    font-family: Roboto;
}

.sidebar {
    position: relative;
    flex: 0 0 25%; /* Fixed width of 25% for the sidebar */
    background-color: #FFFFFF; /* Optional: Background color for the sidebar */
}

.main-content {
    flex: 0 0 75%; /* Fixed width of 75% for the main content */
    background-color: #DAE5F5; /* Optional: Background color for the main content */
}

.notes-header {
    display: flex;
    background-color: #001F8B;
    color: #FFFFFF;
    height: 90px;
    font-size: 20px;
    font-weight: 500;
}

.profile-photo {
    width: 60px; /* Adjust as necessary */
    height: 60px; /* Adjust as necessary */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; /* Space between photo and text */
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF; /* Text color */
}

.no-groups{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.background-svg{
    width: 60%;
    margin-top: 100px;
}

.no-groups h1{
    font-weight: 700;
    font-size: 50px;
    margin: 5px;
}
.no-groups h3{
    font-weight: 500;
    font-size: 22px;
    margin: 5px;
}

.no-groups footer{
    font-size: 22px;
    font-weight: 400;
    display: flex;
    margin-top: auto;
    padding: 10px;
    justify-content: center;
}

.enc-svg {
    height: 17px;
    width: 15px; /* Adjust the size of the encryption icon */
    height: auto;
    margin-right: 10px;
}